[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
configparser = "*"
distro = "*"
pyclamd = "*"
pygithub = "*"
gitpython = "*"
phply = "*"
nltk = "*"
chardet = "*"
tblib = "*"
pdfminer = "*"
pyopenssl = "==22.1.0"
ndg-httpsclient = "*"
pyasn1 = "*"
lxml = "*"
scapy = "*"
cluster = "*"
msgpack = "*"
python-ntlm3 = "*"
jinja2 = "*"
markdown = "*"
psutil = "*"
ds-store = "*"
termcolor = "*"
pyyaml = "*"
tldextract = "*"
pebble = "*"
diff-match-patch = "*"
bravado-core = "*"
lz4 = "*"
vulners = "*"
ipaddresses = "*"
xdot = "*"
nocasedict = "*"
urllib3 = "*"
xunitparser = "*"
apispec = "*"
memory-profiler = "*"
marshmallow = "*"
pypi-simple = "*"
apispec-webframeworks = "*"
flask = "*"
jellyfish = "*"
yappi = "*"
soappy = "*"
ujson = "*"
polyglot = "*"
numpy = "*"
pyicu = "*"
pycld2 = "*"
morfessor = "*"
pillow = "*"
bloom-filter2 = "*"
vulndb = {ref = "bee4f4f5222741a8119e7e214de83b340d44fb27", git = "https://github.com/w4af/vulndb-python-sdk"}
httpretty = {ref = "bugfix/remove-pyopenssl-deprecation-warning", git = "https://github.com/w4af/HTTPretty"}
darts-util-lru = {git = "https://github.com/w4af/DartsPyLRU"}
mitmproxy = {ref = "daeb6d94a98a8200cb9e9b6f107de1b54482d2ff", git = "https://github.com/w4af/mitmproxy"}
pyahocorasick = "*"
netlib = {git = "https://github.com/w4af/netlib"}

[dev-packages]
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-rerunfailures = "*"
pytest-split = "*"
pytest-timeout = "*"
pyright = "*"
pytest-profiling = "*"

[requires]
python_version = "3.11"
