[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
configparser = "*"
distro = "*"
pyClamd = "*"
PyGithub = "*"
GitPython = "*"
pybloomfiltermmap3 = "*"
phply = "*"
nltk = "*"
chardet = "*"
tblib = "*"
pdfminer = "*"
pyOpenSSL = "*"
ndg-httpsclient = "*"
pyasn1 = "*"
lxml = "*"
scapy = "*"
guess-language = "*"
cluster = "*"
msgpack = "*"
python-ntlm3 = "*"
Jinja2 = "*"
vulndb = "*"
Markdown = "*"
psutil = "*"
ds-store = "*"
termcolor = "*"
PyYAML = "*"
tldextract = "*"
Pebble = "*"
acora = "*"
diff-match-patch = "*"
bravado-core = "*"
lz4 = "*"
vulners = "*"
ipaddresses = "*"
subprocess32 = "*"
xdot = "*"
nocasedict = "*"
urllib3 = "*"
pyopenssl = "==21.0.0"
nose = "*"

[dev-packages]

[requires]
python_version = "3.9"
