configparser
distro
pyclamd
PyGithub==1.58.0
GitPython==3.1.31
phply
nltk
chardet==5.1.0
tblib==1.7.0
pdfminer
pyopenssl==22.1.0
ndg-httpsclient
pyasn1==0.4.8
lxml==4.9.2
scapy
cluster
msgpack==1.0.4
python-ntlm3
jinja2
markdown==3.4.1
psutil==5.9.4
ds-store
termcolor==2.2.0
PyYAML==6.0
tldextract==3.4.0
pebble
diff-match-patch==20200713
bravado-core==5.17.1
lz4
vulners==2.0.9
ipaddresses
xdot
nocasedict==2.0.0
urllib3
xunitparser
pylint
apispec
memory-profiler
marshmallow
pypi-simple
apispec-webframeworks
Flask==2.2.3
jellyfish
yappi
soappy
ujson
polyglot
numpy==1.24.2
pyicu==2.10.2
pycld2
morfessor
coverage
pytest
pytest-cov
pytest-rerunfailures
pytest-split
pytest-timeout
pillow
bloom-filter2
git+https://github.com/w4af/vulndb-python-sdk.git@bee4f4f5222741a8119e7e214de83b340d44fb27#egg=vulndb
git+https://github.com/w4af/HTTPretty.git@bugfix/remove-pyopenssl-deprecation-warning#egg=httpretty
pyahocorasick
hyperscan
git+https://github.com/w4af/DartsPyLRU.git@95926f06782ba1f645993aa261fdda9833d4e8fb#egg=darts-util-lru
git+https://github.com/w4af/netlib.git@929ee00daf5feb924295341f1c69b05e91dc67eb#egg=netlib
git+https://github.com/w4af/mitmproxy.git@7127c9f48b6171512f7c22a04a01943edd43a1cd#egg=mitmproxy